<div class="sidenav_container">
    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%; width: 100%;">

        <div class="user_menu">
            <div>
                <a>

                    <span [@animateText]="linkText ? 'show' : 'hide'"></span>
                </a>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div>
            <div style="text-align: center;">
                <div mat-menu-item *ngFor="let page of pages" [routerLink]="'/'+page.link">
                    <mat-icon style="color: black ;">{{page?.icon}}</mat-icon>
                    <span style="font-weight: bolder;">{{ page?.name }} </span>
                    <mat-divider></mat-divider>
                </div>
            </div>

        </div>
    </div>
    <span class="spacer"></span>

</div>