.mat-elevation-z6 {
    display: flex;
    justify-content: space-between;
    background-color: #dfe49b;
    border-bottom-style: solid;
    border-color: #dfe49b;
    position: fixed;
    z-index: 3;
    opacity: 0.9;
}

.example-full-width {
    width: 40%;
}

.example-icon {
    outline: none;
}

.rbox {
    width: 60px;
    height: 57px;
}

.logo_name {
    width: 60px;
    height: 57px;
    cursor: pointer;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.inputcenter {
    display: flex;
    align-items: center;
}

// .inputcenter input:focus {
//     outline: none;
//     background-color: none;
// }
.inputcenter input {
    font-size: 15px;
    border-style: none;
}

.search {
    left: 30vw;
    width: 40vw;
    top: 0px;
    z-index: 1000;
    // width: 300px;
}

div .mat-form-field-infix {
    border-style: none !important;
}

.mat-toolbar {
    //position: fixed;
    top: 0px;
    //z-index: 5;
}

.example-spacer {
    flex: 1 1 auto;
}

@media screen and (max-width:580px) {
    .search {
        display: none;
    }
    .example-icon favorite-icon {
        display: none;
    }
}

input:-internal-autofill-selected {
    background-color: #dfe49b !important;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.iconNav {
    outline: none;
}

.menuNav {
    outline: none;
}