<div class="body">
    <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">

        <h3>AngularFire Drop Zone</h3>
        <p>Drag and Drop a File</p>
        <div class="file-label">
            <label class="file-label">
             <input style="display: none;" class="file-input"type="file" id="img" name="img" accept="image/*" (change)="onDrop($event.target.files)">
         </label>
        </div>
    </div>

  
    <div *ngFor="let file of fileThumbnails">
        <app-upthumbnail-task [file]="file"></app-upthumbnail-task>
    </div>
</div>
